In [25]:
import os

os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n')  # 列名
    f.write('NA,Pave,127500\n')  # 每行表示一个数据样本
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [26]:
import pandas as pd

data=pd.read_csv(data_file)
print(data)

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [27]:
inputs,outputs=data.iloc[:,0:1],data.iloc[:,1:2]
inputs = inputs.fillna(inputs.mean())
inputs

   NumRooms
0       3.0
1       2.0
2       4.0
3       3.0

In [28]:
outputs=pd.get_dummies(outputs,dummy_na=True)
print(outputs)

   Alley_Pave  Alley_nan
0        True      False
1       False       True
2       False       True
3       False       True

In [29]:
newd=data["NumRooms"].fillna(data["NumRooms"].mean())
newd

0    3.0
1    2.0
2    4.0
3    3.0
Name: NumRooms, dtype: float64

In [30]:
pd.get_dummies(newd,dummy_na=True)

     2.0    3.0    4.0    NaN
0  False   True  False  False
1   True  False  False  False
2  False  False   True  False
3  False   True  False  False

In [34]:
scol=""
size=0
for col in data.columns:
    csize=data[col].isna().sum()
    if csize>size:
        size=csize
        scol=col
data.drop(scol,axis=1,inplace=True)
data

   NumRooms   Price
0       NaN  127500
1       2.0  106000
2       4.0  178100
3       NaN  140000